* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(255, 0, 43), purple);

}


.orbit {
    width: 300px;
    height: 300px;
    position: relative;
    animation: rotate 4s linear infinite;

}

.planet {
    transform: translateX(-90%);

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div.orbit:hover {
    animation-play-state: paused;
}