body {
    background-color: rgb(126, 0, 105);
    margin: 0;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(232, 86, 245, 0.719);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.3s ease;
}

.removeheader {
    /* /* display: none;  👇بجای اینکه کلا نمایش داده نشه، فقط محو میشه */
    opacity: .5;
    backdrop-filter: blur(10px);
}


h1 {
    animation: rotateIn 1s;
    color: purple;
    filter: drop-shadow(3px 4px 6px rgb(255, 255, 255));
}

nav {
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 212);
    font-size: 2rem;
    transition: transform 0.3s, color 0.3s;
    animation: fadeIn 1s ease-out;
}

a:hover {
    color: rgb(126, 0, 105);
    transform: scale(1.1);
    filter: drop-shadow(2px 4px 6px rgb(126, 0, 105));
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotateIn {
    from {
        opacity: 0;
        transform: rotate(-90deg) scale(0.7);
    }

    to {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
}
/* END HEADER */

/* START SECTION  */
section {
    height: 90vh;

}

div.container {
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    line-height: 3rem;
    font-weight: 900;
    font-size: larger;
    text-align: center;
}

section:nth-child(even) {
    background: rgb(255, 0, 242);
}

section:nth-child(odd) {
    margin-bottom: 30rem;
    background: rgb(126, 0, 105);
}

p.purple {
    margin: 0;
    color: rgb(126, 0, 105);
    animation: fadeIn 1s ease-out;

}

p.pink {
    animation: fadeIn 3s ease-out;
    display: flex;
    color: rgb(255, 0, 212);
}